.message-area {
	height: calc(100vh - 110px);
	overflow: auto;
}

.message {
	display: flex;
	flex-direction: column;
	margin: 8px;
}

.message__user {
	font-size: 12px;
	padding-bottom: 8px;
}

.message__body {
	display: flex;
	align-items: center;
}

.message__avatar {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.message--primary .message__body {
	justify-content: flex-end;
}

.message--danger .message__body {
	justify-content: flex-end;
}

.message__user,
.message--default .message__bubble {
	margin-left: 50px;
}

.message__avatar + .message__bubble {
	margin-left: 10px;
}

/*
	Message bubble
 */
.message__bubble {
	border-radius: 16px;
	min-height: 24px;
	padding: 8px 16px;
	position: relative;
}

.message--primary .message__bubble {
	background-color: #25CBF2;
	border-top-right-radius: 0;
	color: #ffffff;
}

.message--primary .message__bubble:after {
	content: ''; 
	position: absolute; 
	right: 0; 
	top: 0;
	width: 0; 
	height: 0; 
	border: 5px solid transparent;
	border-color: #25CBF2 transparent transparent transparent;
	margin-right: -5px;
}

.message--danger .message__bubble {
	background-color: #f44336;
	border-top-right-radius: 0;
	color: #ffffff;
}

.message--danger .message__bubble:after {
	content: ''; 
	position: absolute; 
	right: 0; 
	top: 0;
	width: 0; 
	height: 0; 
	border: 5px solid transparent;
	border-color: #f44336 transparent transparent transparent;
	margin-right: -5px;
}

.message--default .message__bubble {
	background-color: #ffffff;
	border-top-left-radius: 0;
}

.message--default .message__bubble:after {
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 0;
	width: 0; 
	height: 0; 
	border: 5px solid transparent;
	border-color: #ffffff transparent transparent transparent;
	margin-left: -5px;
}



/*
	Message time
 */
.message__time {
	background-color: #212121;
	border-radius: 2px;
	color: #ffffff;
	position: relative;
	font-size: 11px;
	line-height: 16px;
	max-height: 32px;
	padding: 8px;
	vertical-align: : middle;
}

.message--default .message__time {
	margin-left: 8px;
}

.message--default .message__time:after {
	content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #212121 transparent transparent;
}

.message--primary .message__time {
	margin-right: 8px;
}

.message--primary .message__time:after {
	content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    margin-right: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #212121;
}

.message__status {
	font-size: 11px;
	text-align: right;
}

.subtitle {
	font-size: 12px;
}

/* Menu */
.menu__item {
	cursor: pointer;
	padding: 8px;
}

.menu__item a {
	text-decoration: none;
}

.menu__item:hover {
	background-color: #f0f0f0;
}


.menu__image {
	border-radius: 50%;
	height: 50px;
	margin-right: 10px;
	width: 50px;
}


/* Overrides */
#createConversationModal .menu {
	height: 400px;
	overflow: auto;
}

#createConversationModal .modal-body {
	padding: 0;
}

#createMessageForm input {
	width: calc(100% - 50px);
}


/* Sidebar */
#sidebar {
	width: 300px;
	max-width: 300px;
}

#sidebar .conversation-list {
	overflow: auto;
	height: calc(100% - 54px);
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
}

#sidebar .sidebar__header__item {
	border-left: none;
}

#sidebar .sidebar__header__item:hover {
	background-color: inherit;
	border-left: none;
}

ul {
	margin-bottom: 0;
}

.sidebar__item {
	text-overflow: ellipsis;
	overflow: hidden;
}

.topbar .navbar-custom {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
	z-index: 1;
}

.bottombar .navbar-custom {
	box-shadow: 0 -2px -2px rgba(0, 0, 0, 0.12);
}

.main-content {
	margin-left: 300px;
}

.fa-plus {
	padding-right: 16px;
}